.user-wrapper{
  width: 90%;
  margin: auto;
  @include flex (
    $alignItem:center,
    $justifyContent:center,
    $flexDirection:row,
    $gap:3rem
  );
  flex-wrap: wrap;
}

.user-wrapper{
  .empty-user{
    width: 280px;
    height: 211px;
   border-radius: .4rem;

    background-color: rgba(34, 33, 33, 0.123);
  }
}
.single-user{
  width: 280px;
  height: 211px;
  padding: 2rem 0rem;
  background-color: hsla(0, 0%, 100%, 0.863);
  box-shadow: 0px 0px 10px 0px hsla(0, 1%, 25%, 0.568);
  border-radius: .4rem;
  @include flex (
    $alignItem:center,
    $justifyContent:space-between,
    $flexDirection:column,
    $gap:2rem
  );

  img{
    width: 11rem;
    border-radius: 50%;
    height: 12rem;
    object-fit: cover;
  }
  .user-info{
    font-family: var(--ff-primary);
    @include flex (
    $alignItem:flex-start,
    $justifyContent:space-between,
    $flexDirection:column,
    $gap:.3rem
    );
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: .025rem;
  }
}